html, body
{
  margin: 0;
  padding: 0;
  background: #eee;
}

.container-main
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 16pt;
}

.container-page
{
  width: 100%;
  max-width: 960px;
  background: white;
}

.container-content
{

}

.container-content-padding
{
  padding: 16px 32px 16px 32px;
}

/* Headings */
.heading-content-l
{
  margin: 0;
  font-size: 3em;
}

.heading-content-ml
{
  margin: 0;
  font-size: 1.75em;
}

.heading-content-m
{
  font-size: 1.5em;
}

/* Portfolio */
.container-portfolio
{
  width: 100%;
  text-align: center;
}

.container-portfolio-item
{
  padding: 24px;
  margin: auto;
}

.container-portfolio-item figure
{
  cursor: pointer;
}

.container-portfolio-item img
{
  width: 100%;
  max-width: 480px;
}

/* Images */
.img-about-jared
{
  width: 100%;
  max-width: 320px;
  height: auto;
  border: 24px solid #62F7FF;
  border-radius: 6px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.75);
}

/* Misc. styling */
.ul-services
{
  margin: auto;
  text-align: left;
  width: 280px;
}

figure
{
  margin: 0;
  padding: 0;
}

/* Footer classes */
.footer-main
{
  color: white;
  background: #2196F3;
  padding: 16px;
}

.centered
{
  text-align: center;
}

@media (max-width: 640px)
{
  .container-main
  {
    font-size: 13pt;  
  }

  .container-content-padding
  {
    margin: 0;
    padding: 4px 8px 4px 8px;
  }

  .img-about-jared
  {
    border: 0;
  }

  ul
  {
    margin: 0;
    padding: 0;
  }
}
