html, body
{
  margin: 0;
  padding: 0;
  background: #eee;
}

.container-main
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.container-page
{
  width: 100%;
  max-width: 960px;
  background: white;
}

.container-content
{

}

.container-content-padding
{
  padding: 16px 32px 16px 32px;
}

/* Headings */
.heading-content-l
{
  font-size: 2em;
}

/* Footer classes */
.footer-copyright
{
  text-align: center;
}
