body
{
  background: #fafafa;
}

.coffee-steam
{
  position: relative;
  top: -20px;
}

.wrapper
{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.padding-nav
{
  background: #333;
  padding-left: 48px;
  padding-right: 48px;
}

.padding-header
{
  padding: 16px 48px 16px 48px;
}

.nav-main
{
  display: flex;
  flex-direction: row;
}

.btn-nav
{
  color: white;
  display: inline-block;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  line-height: 48px;
  text-decoration: none;
}

.btn-nav:hover
{
  background: #555;
}

.content-post
{
  padding: 48px;
  border-bottom: 1px solid #e9e9e9;
}

.content-post:last-child
{
  border-bottom: none;
}

.content-post header
{
  padding-bottom: 16px;
}

.content-post-date
{
  color: rgba(0, 0, 0, 0.5);
}

.content-post p
{
  line-height: 1.5em;
}

.footer-main
{
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.padding-footer
{
  padding-top: 8px;
  padding-bottom: 8px;
}

/* Writing styles */
i
{
  font-style: italic;
}

ul
{
  list-style: disc;
}

li
{
  line-height: 1.5em;
}

/* Headings */
h1
{
  padding-top: 0.5em;
  padding-bottom: 0.25em;
  font-size: 2.5em;
}

h2
{
  padding-top: 0.5em;
  padding-bottom: 0.25em;
  font-size: 2em;
}

h3
{
  padding-top: 0.5em;
  padding-bottom: 0.25em;
  font-size: 1.5em;
}

/* For phones */
@media (max-width: 480px)
{
  .nav-main
  {
    flex-direction: column;
  }
}
