body
{
  background: #fafafa;
}

.coffee-steam
{
  position: relative;
  top: -20px;
}

.wrapper
{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.nav-main
{
  background: #333;
}

.padding-header
{
  padding-top: 16px;
  padding-bottom: 16px;
}

.btn-nav
{
  color: white;
  display: inline-block;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  line-height: 48px;
  text-decoration: none;
}

.btn-nav:hover
{
  background: #555;
}

.footer-main
{
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.padding-footer
{
  padding-top: 8px;
  padding-bottom: 8px;
}

/* Headings */
h1
{
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 2.5em;
}

h2
{
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 2em;
}

h3
{
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 1.5em;
}
